h1{
    color: antiquewhite;
}
.tareas-nombre{
    font-weight: 500;
    color: aquamarine;
}

.tareas-accion{
    cursor: pointer;
}


.tarea-completo{
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.5);

}

.tarea-incompleto{
    color: rgb(0, 0, 0);

}

.categoria{
    display: flex;
    margin-left: 10vh;
}

